* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box{
  background-color: grey;
  margin: auto;
  width: 300px;
  padding: 20px;
}
#loginheader {
  margin: auto;
  width: 100px;
  padding: 3rem 2rem;
}
header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}
.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}
#text{

  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
}

#button{

  isplay: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
